In [9]:
import yfinance as yf

# ticker = "AAPL"      # US
ticker = "CTT.AX"      # AUS
data = yf.download(ticker, period="10d", interval="1d")
data.head(10)

/var/folders/44/dxr728kj4gz1490rmjpm6_6m0000gn/T/ipykernel_5107/3303746096.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, period="10d", interval="1d")
[*********************100%***********************]  1 of 1 completed

Price       Close   High    Low   Open   Volume
Ticker     CTT.AX CTT.AX CTT.AX CTT.AX   CTT.AX
Date
2025-12-01  0.705  0.770  0.705  0.770  2369404
2025-12-02  0.680  0.725  0.665  0.710  1458822
2025-12-03  0.705  0.705  0.675  0.690  1378973
2025-12-04  0.815  0.835  0.700  0.700  5943519
2025-12-05  0.880  0.915  0.815  0.830  8075082
2025-12-08  0.900  0.925  0.865  0.890  3100986
2025-12-09  0.910  0.915  0.870  0.895  2749980
2025-12-10  0.910  0.955  0.900  0.920  3087342
2025-12-11  0.875  0.950  0.875  0.920  2937577
2025-12-12  0.900  0.932  0.885  0.885  2262468